<div class="carousel-component">
  @if (images.length) {
    <div class="img-part">
      <div
        #track
        class="track"
        [style.transform]="'translateX(calc(-' + index * 100 + '% - ' + index * 16 + 'px))'"
      >
        @for (image of images; let idx = $index; track idx) {
          <img [src]="images[idx]" [alt]="`Slide ${idx + 1}`" />
        }
      </div>

      <button class="nav-btn prev" (click)="onPrev()"><i class="ri-arrow-left-s-line"></i></button>
      <button class="nav-btn next" (click)="onNext()"><i class="ri-arrow-right-s-line"></i></button>
    </div>

    <div class="dots-container">
      @for (image of images; let idx = $index; track idx) {
        <span class="dot" [class.active]="idx === index"></span>
      }
    </div>
  }

  <div class="text-part" [class.active]="images.length === 0">
    <div class="row">
      <div class="rh">Location</div>
      <div class="rd">{{ location | titlecase }}</div>
    </div>
    <div class="row">
      <div class="rh">Type</div>
      <div class="rd">{{ type | titlecase }}</div>
    </div>
    <div class="row">
      <div class="rh">Capacity</div>
      <div class="rd">{{ capacity }} Sarthis</div>
    </div>
    <div class="row no-border">
      <div class="rh">Highlights</div>
      <div class="rd">
        {{ highlight }}
      </div>
    </div>
  </div>

  <div class="close-btn" (click)="onClose()"><i class="ri-close-line"></i></div>
</div>
