.capsule {
  color: white;
  box-shadow: 0 2px 4px #ffb42a66;
  padding: 0.3rem 0.6rem;
  border-radius: 200px;
  cursor: pointer;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;

  @media (max-width: 768px) {
  }

  @media (max-width: 500px) {
    padding: 0.3rem 0.6rem;
    font-size: 0.85rem;
    font-weight: 600;
  }
}
