<div class="bg-image">
  <div class="heading">Our Footprint</div>

  @for (loc of locations; track loc.id) {
    <div [class]="'loc-' + loc.id">
      <app-location [id]="loc.id" [showCarousel]="showCarousel"></app-location>
    </div>

    @if (showCarousel() === loc.id) {
      <div [class]="'carousel c-' + loc.id">
        <app-carousel
          [images]="loc.images"
          [location]="loc.location"
          [showCarousel]="showCarousel"
          [type]="loc.type"
          [highlight]="loc.highlight"
          [capacity]="loc.capacity"
        />
      </div>
    }
  }

  <div class="legend">
    <div class="legend-1">
      <div class="icon">
        <img
          src="https://zarthi.com/assets/CompanyPageAssets/OurFootPrint/loactionIcon.svg"
          alt="location icon"
        />
      </div>
      <div class="text">Our Talent</div>
    </div>

    <div class="legend-2">
      <div class="icon"></div>
      <div class="text">
        <div class="line-1">Our Relationships</div>
        <div class="line-2">(Customers,Partners & Providers)</div>
      </div>
    </div>
  </div>

  <div class="location-legend">
    @for (loc of locations; track loc.id) {
      <app-location-capsule [showCarousel]="showCarousel" [id]="loc.id" [location]="loc.location" />
    }
  </div>
</div>
